<%= link_to 'Home', root_path %>

<h1> <%= @specific_item["name"] %> </h1> 
<img src="<%= @specific_item["sprites"]["default"] %>" alt="item sprite">
<div> <%= @specific_item["flavor_text_entries"][0]['text'] %> </div>