@import './base/variables';
@import './base/mixins';

.move-show {
  display: flex;
  flex-direction: column;
  align-items: center;

  .top-screen {
    @include perimeter(45px, 380px);
    @include pokemon_type_colors;
    background-color: white;
    border-radius: 40px;
    margin: 10vh 0 2.5vh 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding: 0 0 0 15px;

    a {
      padding: 5px;
      border-radius: 5px;
      color: white;

      &:hover {
        color: $link-blue;
      }
    }

    p {
      @include perimeter(45px, max-content);
      padding: 0 15px;
      border-radius: 40px;
      color: white;
      background-color: black;
      margin-right: -1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .bottom-screen {
    @include perimeter(258px, 500px);
    background-image: asset_url('move-template.PNG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    font-size: 18px;

    .category, .power, .accuracy {
      @include perimeter(46px, 100%);
      display: flex;

      .title {
        @include perimeter(100%, 56%);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .value {
        @include perimeter(100%, 44%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .text {
      @include perimeter(120px, 100%);
      @include scrollbar;
      overflow-y: auto;
      overflow-x: hidden;
      line-height: 1.2;

      p {
        padding-left: 10px;
        margin: 10px 0;
      }
    }
  }

  .move-form {
    @include perimeter(45px, 400px);
    background-color: white;
    position: relative;
    border-radius: 40px;
    margin-top: 5vh;

    img {
      @include perimeter(40px, 40px);
      position: absolute;
      top: 2px;
      right: 100px;
    }

    .input {
      @include perimeter(30px, 200px);
      position: absolute;
      top: 5px;
      left: 15px;
      font-size: 20px;
      text-align: center;
      border: none;
      border-bottom: 1px solid black;
      background-color: transparent;

      &:focus-visible {
        outline: none;
      }

      &::placeholder {
        color: black;
      }
    }

    .button {
      @include perimeter(100%, 70px);
      position: absolute;
      bottom: 0;
      right: -2px;
      border-radius: 40px;
      background-color: black;
      font-size: 14px;
      border: none;
      color: white;
      cursor: pointer;
      
      &:hover {
        color: red;
      }
    }
  }
}