<h1> <%= @specific_pokemon['name'] %> </h1>

<%# <% @specific_pokemon["abilities"].each do |each|%> %>
  <%# <div> <%= each["ability"]["name"] %> </div> %>
<%# <% end %> %>

<img src="<%= @specific_pokemon['sprites']['front_default'] %>" alt="pokemon sprite">